{% extends "base.html" %}
{% block title %} Login {% endblock %}
{% block header %}
<header>
<div class="header d-flex justify-content-between">
  <a href="/" id="logo" class="d-flex align-items-center mx-4">BEKON</a>
</div>
</header>
{% endblock %}
{% block main %}
<main>
    <div class="main">
        <div class="popup">
            <div class="transparent-bg"></div>
            <div class="form-title">авторизация</div>
            <form class="form" method="POST" action=".">
                {{ form }}
                {% csrf_token %}
                <button class="form-button" type="submit">войти</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}