{% extends "base.html" %}
{% block title %} Register {% endblock %}
{% block header %}
<header>
<div class="header d-flex justify-content-between">
  <a href="/" id="logo" class="d-flex align-items-center mx-4">BEKON</a>
</div>
</header>
{% endblock %}
{% block main %}
<main>
    <div class="main">
        <div class="register">
            <div class="transparent-bg"></div>
            <div class="register-title">регистрация</div>
            <form class="register-form" method="POST" action=".">
                {{ register_form }}
                {% csrf_token %}
                <button class="register-button" type="submit">зарегистрироваться</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}