{% extends "base.html" %}
{% block title %} Welcome {% endblock %}
{% block header %}
<header>
    <div class="header d-flex justify-content-between">
      <a href="/" id="logo" class="d-flex align-items-center mx-4">BEKON</a>
      <nav class="navbar mx-4">
        <ul class="navbar-menu d-flex">
          <li class="navbar-item mx-4"><a href="/account/login">авторизация</a></li>
        </ul>
      </nav>
    </div>
</header>
{% endblock %}
{% block main %}
<main>
    <div class="main">
        <div class="register">
            <div class="transparent-bg"></div>
            <div class="register-title">регистрация - успешно!</div>
            <div class="register_done">
                <p>Добро пожаловать {{ first_name }}!</p>
                <p>Теперь можно <a href="/account/login">авторизоваться</a>!</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}