a {text-decoration: none;}
li {list-style-type: none;}
html, body {height:100%;}

/* Header */
header {
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 999;
}
.header {
  width: 100%;
  height: 90px;
  color: white;
  background: #3498DB;
}
#logo {
  color: white;
  font-size: 32px;
}
.navbar-menu {
  margin: 0;
  padding: 0;
}
.navbar-item > a {
  color: white;
  font-size: 24px;
}

.menu-btn {
  width: 50px;
  height: 50px;
  position: relative;
  z-index: 1;
}
.btn-line {
  position: absolute;
  width: 100%;
  height: 10px;
  background: white;
  top: 20px;
  transition: .3s;
}
.btn-line::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background: white;
  top: -16px;
  transition: .3s;
}
.btn-line::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  background: white;
  bottom: 0;
  top: 16px;
  transition: .3s;
}
.menu-btn_pressed > .btn-line {
    transform: rotate(45deg);
}
.menu-btn_pressed > .btn-line::before {
    transform: translate(0, 16px) rotate(90deg);
}
.menu-btn_pressed > .btn-line::after {
    transform: translate(0, -16px);
}
.side-menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 552px;
    min-height: 100%;
    transition: .3s;
    transform: translate(100%);
    display: flex;
    flex-flow: column;
}
.side-menu_active {
    transform: translate(0);
}
.transparent-side-menu {
    border-radius: 0 !important;
    background: #2c3e50 !important;
}
.menu-title {
    font-size: 32px;
    background: #2980b9;
    height: 90px;
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.menu-list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: column;
}
.menu-item > a {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 32px;
    padding: 20px;
    display: flex;
    border: 3px solid transparent;
}
.menu-item:hover > a {
    border: 3px solid white;
}

/* Main */
main {
  min-height: 100%;
  padding-top: 90px;
  display: flex;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/static/images/wallpaper.jpg);
  background-position: center;
  background-size: cover;
}
.main-text {
  font-size: 96px;
  color: #34495E;
}

.popup {
    display: flex;
    flex-flow: column;
    position: relative;
    width: 576px;
    z-index: 1;
}
.form-title {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3498DB;
    color: white;
    font-size: 32px;
    border-radius: 15px 15px 0px 0px;
}
.form-button {
    width: 180px;
    height: 45px;
    background-color: #2ECC71;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
}
.form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;
}
.form > label, .form > span {
    display: none;
}
.form > input {
    width: 240px;
    padding: 0;
    margin-bottom: 15px;
    background: #2C3E50;
    color: white;
    text-align: center;
    line-height: 50px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}

.register_done {
    display: flex;
    flex-flow: column;
    align-items: center;
    padding: 20px;
}
.register_done > p {
    font-size: 24px;
}

.transparent-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ECF0F1;
    opacity: .8;
    z-index: -1;
    border-radius: 15px;
}

.account-main {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: normal;
    background: url(/static/images/shape1.svg) no-repeat, url(/static/images/shape2.svg) no-repeat, url(/static/images/shape3.svg) no-repeat, #1ABC9C;
    background-position: bottom 400px left -42px, bottom left 100px, bottom 100px right;
    position: relative;
}
.account {
    margin-top: 15px;
    width: 60%;
    max-width: 1152px;
    height: 800px;
    background: #ECF0F1;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-flow: column;
    z-index: 1;
}
.account-pl {
    padding: 10px;
    margin: 0px;
    display: grid;
    flex-grow: 1;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.pl-item {
    font-size: 32px;
    text-align: center;
}
.account-links {
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.links-item {
    text-align: center
}
.links-item > a {
    font-size: 32px;
    color: var(--bs-body-color);
    transition: .2s;
}
.links-item > a:hover {
    color: #3498DB;
}

/* Footer */
footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 358px;
  background-color: #1ABC9C;
}
.footer {
  width: 600px;
}
.footer-title {
  color: white;
  font-size: 32px;
}
.footer-text {
  color: white;
  font-size: 20px;
}
.footer-list {
  padding: 0; margin: 0;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.footer-item > a {
  color: white;
  font-size: 20px;
}
.footer-label {
  position: absolute;
  right: 24px;
  bottom: 24px;
  transition: .3s;
}
.footer-label:hover {
  transform: scale(1.1) rotate(-10deg) translate(-6px, -6px);
}
.footer-label > a {
  color: white;
  font-size: 32px;
}
